include LICENSE.txt
include README.rst
recursive-include djangocms_audio/locale *
recursive-include djangocms_audio/static *
recursive-include djangocms_audio/templates *
recursive-exclude * *.py[co]
