<!-- https://github.com/divio/django-filer/blob/develop/filer/models/filemodels.py -->

<pre>
    Folder:
    {{ instance.folder }}
    {{ instance.folder.file_count }}
    {{ instance.is_published }}
    Files:
    {% for plugin in instance.folder.files %}
        {{ plugin.file }} {{ instance.name }}
        {{ plugin.description }}
        {{ plugin.uploaded_at }}
        {{ plugin.modified_at }}
        {{ plugin.size }}
        {{ plugin.extension }}
        {% if plugin.extension == "mp3" %}
            <audio controls
                {% if plugin.attributes %}{{ plugin.attributes_str }}{% endif %}>
                <source src="{{ plugin.file.url }}" type="audio/mpeg">
            </audio>
        {% endif %}
    {% endfor %}
</pre>
