{% load i18n %}

{% for plugin in instance.folder.files %}
    {# mp3 files are supported by any major browser #}
    {% if plugin.extension == "mp3" %}
        <audio controls
            {% if plugin.attributes %}{{ plugin.attributes_str }}{% endif %}>
            <source src="{{ plugin.file.url }}" type="audio/mpeg">
        </audio>
    {% endif %}
{% empty %}
    {% trans "No valid files were found within the given folder." %}
{% endfor %}
{% comment %}
    # https://github.com/divio/django-filer/blob/master/filer/models/foldermodels.py
    {{ instance.folder }}
    # Available variables:
    {{ instance.folder.file_count }}
    {{ instance.is_published }}
{% endcomment %}
